<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineSalePrj</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineSalePrj</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductCategories" asp-action="Index">ProductCategory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductSale">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="AjaxMethod">ProductList</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Regions" asp-action="Index">Region</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Towns" asp-action="Index">Town</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OnlineSalePrj - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
  @*</div>*@
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    @*<div class="collapse navbar-collapse" id="navbar-menu">
        <partial name="_LoginPartial" />
        </div>*@
    @*<div class="login-box">

                    <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
            <option>Register Here</option>
            <option>Sign In</option>
        </select>
                </div>*@
    <div class="text-slid-box">
        <div id="offer-box" class="carouselTicker">
            <ul class="offer-box">
                <li>
                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                </li>
                <li>
                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                </li>
                <li>
                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                </li>
                <li>
                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                </li>
                <li>
                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                </li>
                <li>
                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                </li>
                <li>
                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                </li>
                <li>
                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                </li>
            </ul>
        </div>
    </div>
</div>
                @*</div>*@